<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Greenhouse Monitor Dashboard</title>
    <link rel="stylesheet" type="text/css" href="css/dashboard/dashboard.css">
</head>
<body>
    Welcome to the greenhouse monitor dashboard.

    <script>
        const url = "<%= locals.url %>";
        const ip = "<%= locals.ip %>";
        const ws = "<%= locals.ws %>";
    </script>
    <script src="clientJS/dashboard/dashboard.client.js"></script>
</body>
</html>