<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Greenhouse Primary Dashboard</title>
    <link rel="stylesheet" type="text/css" href="css/main/main.css">
</head>
<body>
    Welcome to the Greenhouse control dashboard.
    <div id="availableDev"></div>

    <script>const url = "<%= locals.url %>"</script>
    <script src="clientJS/main/main.client.js"></script>
</body>
</html>